.editor {

    .top-nav {
        z-index: 1;
        width: 100%;
        height: 50px;
        background-color: rgb(29, 32, 65);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .left-nav {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 50%;
    }
}

.canvas-container {
    position: absolute;
    transform: translate(-50%, -50%);
    width: fit-content;
    margin: 0 auto;
}