.editor {
    .top-nav {
        z-index: 1;
        width: 100%;
        height: 50px;
        background-color: rgb(29, 32, 65);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .dd-wrapper { 
            margin-left: 3%;
            position: relative;

            > button {
                background-color: transparent;
                border: none;
                color: white;
                padding: 10px;
                font-family: 'Pixel';
                cursor: pointer;

                &:focus {
                    outline: none;
                }
            }

            
        }

        .drop-down {
            position: absolute;
            background-color: rgb(29, 32, 65);
            padding: 20%;
            
            button {
                cursor: pointer;
                background: transparent;
                color: white;
                border: none;
                font-family: 'Pixel';\

                &:focus {
                    outline: none;
                }
            }
        }

        .hidden {
            display: none;
            opacity: 0;
        }
    }
    .left-nav {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 50%;


        .left-buttons {
            background-color: rgb(100, 100, 100);
            color: white;
            font-size: 1.5rem;
            border-radius: 10px;
            margin: 10px;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;

            &:focus {
                outline: none;
            }
            
            .active {
                border: 10px solid grey;
            }
        }
    }
}

.canvas-container {
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%);
    width: fit-content;
    margin: 0 auto;
    top: 50%;
    left: 50%;
}