@import './Styles/media';

.App {
  text-align: center;
  font-family: 'Pixel';
}

.homepage-header-div {
  font-size: 2rem;
  color: white;

  @include phone {
    font-size: .70rem;
  }

  h1 {
    color: red;
  }

}

.start-button {
  font-family: 'Pixel';
  padding: 20px;
  width: 200px;
  margin-top: 20px;

  @include phone {
      width: 100px;
  }
}

.dimension-div {
    color: white;
    font-size: 3rem;
    
    h4 {
      margin: 10px;
    }


    @include phone {
      font-size: 1rem;
    }
    
    span {
      color: red;
    }

    button {
      font-family: 'Pixel';
      text-align: center;
      padding: 1rem;
      margin: 0px;
      width: 200px;
    }
}