.Modal-container {
    overflow: hidden;
}

.Modal {
    font-size: 1rem;
    background-color: rgb(17, 22, 47);
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    box-shadow: 0px 0px 200px 1000px rgba(0, 0, 0, .5);

    
    h1 {
        margin-bottom: 40px;
    }

    .h12 {
        margin-bottom: 0px !important;
    }

    input {
        z-index: 5;
        background-color: rgb(7, 9, 20);
        border: none;
        padding: 15px 0px 15px 0px;
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        color: grey;
        font-size: 1.2rem;
        text-align: center;

        &:focus {
            outline: none;
            color: white;
        }
    }

    button {
        font-family: 'Pixel';
        font-size: 1.3rem;
        width: 100%;
        height: 60px;
        border-radius: 0px 0px 10px 10px;
        background-color: green;
        color: white;
        border: none;
    }

    .modal-buttons {
        display: flex;
        
        button {
            width: 100px;
            height: 50px;
            margin: 10px;
            border-radius: 10px;
        }
    }

    .b2 {
        border-radius: 10px;
    }
}